* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  background-color: #3465F7;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: none;
}

.btn:hover {
  background-color: #174ceb;
}

.btn-white {
  background-color: #fff !important;
  color: #162C6B !important;
}

.btn-white:hover {
  background-color: #eee !important;
}

.login_btn {
  border: 2px solid #fff;
  background: none;
  padding: 10px 25px;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.login_btn:hover {
  background-color: #fff;
  color: #162C6B;
}

.underline {
  background-color: #3465F7;
  width: 7rem;
  height: .2rem;
  margin-left: 44.5%;
  margin-bottom: 2.5rem;
}

p, h3 {
  color: #001551;
}

.box {
  background-color: #ffa024;
  margin: 2rem  0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -1rem 0;
}

.box .heading {
  background-color: #fff;
  padding: .5rem;
  border-radius: 10px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: .5rem;
  color: #162C6B !important;
}

.box p {
  font-size: 1.2rem;
  padding-right: 2rem;
  display: block;
  text-transform: capitalize;
}

#msg {
  color: #ff0000;
}

#msg_green {
  color: #008000;
}

form {
  text-align: start;
  width: 800px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: -10px 10px 20px rgba(24, 52, 136, 0.534);
          box-shadow: -10px 10px 20px rgba(24, 52, 136, 0.534);
  border-radius: 10px;
  margin-top: 4rem;
}

form .both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-right: 0;
}

form h2 {
  text-align: center;
  font-size: 2.3rem;
  padding: 1.5rem 0;
  color: #3465F7;
}

form p {
  padding-bottom: 1rem;
  text-align: center;
  color: #148d14;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}

form div {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

form label {
  color: #001551;
  font-size: 1.5rem;
  font-weight: 500;
}

form input[type=submit] {
  cursor: pointer;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 40px !important;
  margin-bottom: 1rem;
  margin-left: 40%;
}

form select, form textarea {
  border-color: #001551;
  border-radius: 8px;
  padding: 10px 0;
  width: 20rem;
  outline: none;
}

form select:focus-within, form textarea:focus-within {
  border-color: #3465F7;
}

form input {
  margin-left: 2rem;
}

form select {
  margin-left: 9%;
  font-size: 1.2rem;
  border-width: .15rem;
}

form select option {
  font-weight: bold;
}

form textarea {
  margin-left: 10rem;
  border-width: .15rem;
}

.main .container .bottom {
  background-color: #fff !important;
}
/*# sourceMappingURL=addTask.css.map */