* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  background-color: #3465F7;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: none;
}

.btn:hover {
  background-color: #174ceb;
}

.btn-white {
  background-color: #fff !important;
  color: #162C6B !important;
}

.btn-white:hover {
  background-color: #eee !important;
}

.login_btn {
  border: 2px solid #fff;
  background: none;
  padding: 10px 25px;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.login_btn:hover {
  background-color: #fff;
  color: #162C6B;
}

.underline {
  background-color: #3465F7;
  width: 7rem;
  height: .2rem;
  margin-left: 44.5%;
  margin-bottom: 2.5rem;
}

p, h3 {
  color: #001551;
}

.box {
  background-color: #ffa024;
  margin: 2rem  0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -1rem 0;
}

.box .heading {
  background-color: #fff;
  padding: .5rem;
  border-radius: 10px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: .5rem;
  color: #162C6B !important;
}

.box p {
  font-size: 1.2rem;
  padding-right: 2rem;
  display: block;
  text-transform: capitalize;
}

#msg {
  color: #ff0000;
}

#msg_green {
  color: #008000;
}

.adminPanel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  grid-gap: 0;
  position: relative;
}

.adminPanel .side {
  background-color: #001551;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.adminPanel .side .logo {
  background-color: #fff;
  padding: 1rem 1rem;
  margin: 1.5rem 1.5rem;
  border-radius: 10px;
  text-align: center;
}

.adminPanel .side .logo h1 {
  font-size: 4rem;
}

.adminPanel .side .navs {
  margin-top: 4rem;
}

.adminPanel .side .navs ul .active {
  background-color: #fff;
}

.adminPanel .side .navs ul .active a {
  color: #001551;
  font-weight: bold;
}

.adminPanel .side .navs ul li {
  margin: 1rem 2rem;
  padding: 1rem;
  width: 100%;
  margin-left: 0;
  padding-left: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.adminPanel .side .navs ul li:hover {
  background-color: #fff;
}

.adminPanel .side .navs ul li:hover a {
  color: #001551;
  font-weight: bold;
}

.adminPanel .side .navs ul li a {
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.adminPanel .main .container {
  margin: 2rem;
}

.adminPanel .main .container .top {
  background-color: #001551;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.adminPanel .main .container .bottom {
  background-color: #eee;
  height: auto;
  margin-top: 2rem;
}

.adminPanel .main .container .bottom [data-tab-content] {
  display: none;
}

.adminPanel .main .container .bottom .tab-content .active[data-tab-content] {
  display: block;
}

.adminPanel .main .container .bottom nav {
  background-color: #fff;
  color: #001551;
  padding: .5rem 0;
}

.adminPanel .main .container .bottom nav .active {
  background-color: #eee;
}

.adminPanel .main .container .bottom nav h3 {
  text-align: center;
  display: inline;
  padding: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  padding-right: 33.73%;
  background-color: #fff;
}

.adminPanel .main .container .bottom div {
  padding: 1rem;
}

.adminPanel .main .container .bottom #page2 .box {
  background-color: #3465F7;
}

.adminPanel .main .container .bottom #page2 .box p {
  color: #fff;
}
/*# sourceMappingURL=admin.css.map */